
chatGPTHelper/Settings.swift
chatGPTHelper/Katya.txt
.build/*
chatGPTHelper.xcodeproj/xcuserdata/pavelgubarev.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
*.xcbkptlist
*.xcbkptlist
/chatGPTHelper.xcodeproj/xcuserdata/pavelgubarev.xcuserdatad
chatGPTHelper/MexicanGirl.txt
chatGPTHelper/MexicanGirl.txt
